body {
color: rgb(34, 17, 20);
background-color: peachpuff;
}
h1 {color: rgb(34, 17, 20); 
   background-color: salmon;
  font-family: 'Mali', cursive;
}

h2 {color: rgb(34, 17, 20);
    font-family: 'Mali', cursive;
}
a {color: rgb(34, 17, 20);

}

nav {
   padding: 10px;
   margin-bottom: 30px;
   background-color: salmon;
   }

nav a {color: rgb(34, 17, 20);}
nav {color: rgb(34, 17, 20);}
nav a: hover {background-color: peachpuff;}

